.rc-filter {
    height: 100%;
    width: 253px;
    font-size: small;
    display: flex;
    flex-direction: column;
    background: white;
    padding-right: 10px;
    background: white;
    padding-right: 10px;
    margin-right: 15px;
}

.rc-filter-list-wrapper {
    border-bottom: 1px solid #eee;
}

.rc-filter-list-item {
    display: flex;
    justify-content: space-between;
    height: 26px;
    >.rc-check-square {
        width: 10px;
        height: 10px;
        border-radius: 2px;
        border: 1px solid #dcdcdc;
        cursor: pointer;
        &:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    }
}

.rc-filter-bottom-wrapper {
    padding-top: 10px;
    margin: 0 auto;
}

.rc-button-primary {
    border: 1px solid transparent;
    background: $rc-blue;
    height: 30px;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    &.add {
        width: 100px;
    }
}

.rc-title-secondary {
    color: $font-secondary-color;
    width: 100%;
    height: 32px;
    padding: 8px 10px;
}